@import "@styles/extendables";
@import "@styles/sizes";

.gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  gap: $spacing;

  /* Title */
  > h2 {
    position: relative;
    text-align: center;
    flex-basis: 100%;
    background-color: var(--color-background-1);
    margin: 0;
    margin-top: $spacing;
  }

  .pathNav {
    display: flex;
    align-items: center;
    gap: $spacing / 2;
    padding-inline: inherit;
    flex-basis: 100%;

    // Return button
    > button {
      height: fit-content;
      width: fit-content;
      display: inline;
      flex-shrink: 0;
      padding-block: $spacing / 2;
      padding-inline: $spacing;
    }

    // Folder path
    > h3 {
      flex-grow: 1;
      width: fit-content;
      padding-block: $spacing / 4;
      padding-inline: $spacing / 2;
      margin: 0;
      box-shadow: var(--shadow-button-hover);

      font-weight: 400;
    }
  }

  .element {
    --columnCount: 2;
    aspect-ratio: 4/3;

    // Divide the columns evenly
    flex-basis: calc(
      (100% / var(--columnCount)) -
        ($spacing / ((var(--columnCount) + 1) / var(--columnCount)))
    );

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    padding: 0.25rem;

    border-radius: 0;
    box-shadow: var(--shadow-button);
    overflow: hidden;

    img,
    video,
    button,
    div {
      z-index: 2;
      max-width: 100%;
      max-height: calc(100% - 1rem);
      margin-top: 1rem;
    }

    // File name
    > span {
      z-index: 2;
      position: absolute;
      inset: 0;
      top: $spacing / 4;
      bottom: auto;
      padding-inline: $spacing / 2;

      text-align: center;
      font-size: 0.75rem;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    > button {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      box-shadow: none;
      padding: 0;
      border-radius: 0;

      outline: 2px solid var(--color-secondary);
    }
  }
}
